<div class="container">
    <p class="text-center">
    <h3>Usuarios</h3>
    </p>
    <div class="row">
        {{!-- <p class="text-end"> Hola {{usuario}} <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesion
                <i class="fas fa-sign-out-alt"></i> </a></p> --}}
    </div>
    <div class="text-end">
        {{!-- <a href="/admin/productos/insertProducto" type="button" class="btn btn-primary align-self-center">+
            Agregar Nuevo Producto</a> --}}
        <a href="/admin/usuarios/agregar" type="button" class="btn btn-primary align-self-center"><i class="fa-solid fa-plus"></i> Usuario
        </a>
    </div>
    <table class="table table-hover table-bordered shadow">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col"><i class="fa-solid fa-user fa-fw fa-sm"></i> Usuario</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones (Editar/Borrar)</th>
            </tr>
        </thead>
        <tbody>
           
            {{#each usuarios}}
           <script  type="text/x-handlebars-template">
                  Hello <b>{{rol}}</b> {{rol}}
  </script> 
            <tr>
                <th scope="row">{{id}}</th>
                <td> {{usuario}} </td>
                <td>{{rol}}</td> 
                <td>
                    <p class="text-end"><a class="btn btn-primary mx-2" href="/admin/usuarios/modificar/{{id}}">
                            <i class="fa-solid fa-pencil"></i></a><a class="btn btn-danger"
                            href="/admin/usuarios/eliminar/{{id}}">
                            <i class="fa-solid fa-trash-can"></i></a></p>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>